<ion-header>
  <ion-toolbar color="azulA">
    <ion-buttons slot="start" (click)="volver()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>QR Acceso Perdomo</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="regenerarQR()">
        <ion-icon name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button routerLink="/qr-perdomo">
      <ion-thumbnail slot="start">
        <img alt="GIF QR" src="/assets/icon/qr.gif" />
      </ion-thumbnail>
      <ion-label>
        QR
        <p>Entra a tu sede con un codigo QR</p>
      </ion-label>
    </ion-item>
    <ion-item button routerLink="/bluetooth" [disabled]="disabled">
      <ion-thumbnail slot="start">
        <img alt="GIF BLUETOOTH" src="/assets/icon/bluetooth.gif" />
      </ion-thumbnail>
      <ion-label>
        Blueetooth
        <p>Abre tu salón de clase</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>