.horizontal-cards-container {
  display: flex;
  flex-wrap: wrap; /* ← Permite que los items se envuelvan en múltiples filas */
  overflow-x: hidden;
  overflow-y: visible;
  margin-bottom: -10px !important;
  margin-top: -10px !important;
}

.horizontal-card {
  flex: 0 0 auto;
  margin-right: 8px;
  width: 60px;
  margin-top: 14px;
  margin-bottom: 8px;
}

.no-shadow-card {
  box-shadow: none !important;
}

.custom-background-card {
  background-color: transparent !important;
}

.textoButton {
  font-size: 0.5em !important;
  text-align: center !important;
  display: block;
  margin: auto;
  white-space: normal;
}
