ion-card>ion-card-content {
  font-size: 0.9em !important;
}


ion-card>ion-card-content>i {
  font-size: 0.6em !important;
}

ion-card-title {
  color: black !important;
}


ion-card {
  margin: auto !important;
  display: block !important;
  box-shadow: none !important;
  margin-left: 50px !important;
  margin-right: 50px !important;
  overflow: unset !important;
  background-color: #ffffff !important;
  text-align: center !important;
}

ion-content,
.container {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#qrcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p>span {
  font-size: xx-small !important;
}

.ball-scale-random {
  width: 300px;
  height: 210px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball-scale-random>div {
  background-color: #0080ff;
  width: 100px !important;
  height: 100px !important;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  display: inline-block;
  -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
  animation: ball-scale 1s 0s ease-in-out infinite;
}

.ball-scale-random>div:nth-child(1) {
  margin-left: -7px;
  -webkit-animation: ball-scale 1s 0.2s ease-in-out infinite;
  animation: ball-scale 1s 0.2s ease-in-out infinite;
}

.ball-scale-random>div:nth-child(3) {
  margin-left: -2px;
  margin-top: 9px;
  -webkit-animation: ball-scale 1s 0.5s ease-in-out infinite;
  animation: ball-scale 1s 0.5s ease-in-out infinite;
}

@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
