<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button routerLink="/tabs/eventos" routerLinkActive="tab-seleccionado">
      <ion-icon name="calendar-outline" color="naranjaE"></ion-icon>
      <ion-label color="naranjaE">Eventos</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/tabs/inscritos" routerLinkActive="tab-seleccionado">
      <ion-icon name="checkmark-done-outline" color="naranjaE"></ion-icon>
      <ion-label color="naranjaE">Inscritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
