<ion-header>
  <ion-toolbar color="azulW">
    <ion-title>Términos y condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="terms-container">

  <div class="texto">
    <h2>Introducción</h2>
    <p>Atentamente se invita a la comunidad de usuarios del servicio del bicicletero a seguir las siguientes indicaciones:</p>

    <ol>
      <li>Los usuarios del servicio del bicicletero son estudiantes, docentes y administrativos activos de la 
        Rectoría Bogotá.</li>
      <li>El servicio del bicicletero es para bicicletas y patinetas. El servicio no está habilitado para bicimotos, 
        bicicletas eléctricas, bicicletas con motor a gasolina. Estos últimos servicios los ofrece el concesionario 
        administrador del parqueadero.</li>
      <li>La aplicación para la solicitud de cupos se habilita únicamente en las fechas publicadas en los canales 
        de comunicación de UNIMINUTO.
        </li>
      <li>La asignación de cupos es por persona, por rol (estudiante, docente o administrativo), en el orden 
        de registro y hasta completar los espacios disponibles por jornada.</li>
      <li>El ingreso y la salida se realiza con el carné digital en la terminal del lector.</li>
      <li>El usuario debe usar UNICAMENTE el cupo y jornada asignada. De hacerlo afecta el servicio de otro 
        usuario.</li>
      <li>El usuario debe asegurar su bicicleta con guayas de seguridad o cadenas metálicas de grueso calibre 
        para evitar pérdidas. La guaya debe quedar asegurada entre el marco de la bicicleta y el tubo grueso donde
        está soldado el gancho. En caso de pérdida o hurto, UNIMINUTO y el concesionario del parqueadero no se 
        hacen responsables del hecho.
        </li>
      <li>Al terminar la jornada el tiempo máximo para retirar la bicicleta es de diez minutos.</li>
      <li>En caso de que el usuario exceda el tiempo establecido, deje la bicicleta de un día para otro o 
        siguientes, se ubique en un cupo no asignado u otro evento que afecte el servicio, UNIMINUTO asegurará 
        la bicicleta con una guaya hasta que se presente el propietario y sean registrados sus datos para tomar la 
        acción pertinente.</li>
      <li>El usuario se compromete a cuidar y mantener en buen estado el bicicletero y respetar los bienes 
        de los otros usuarios.</li>
      <li>El titular del cupo es el responsable del cumplimiento de estas indicaciones.</li>
      <li>En caso de algún incumplimiento se procede a desactivar el acceso al bicicletero hasta definir la 
        situación.</li>
      <li>Definida la situación y como consecuencia de lo anterior se origina la pérdida automática e 
        inmediata del cupo. Además, sí se evidencia la pérdida o daño de algún bien dejado en el bicicletero, 
        UNIMINUTO dará apertura correspondiente al proceso disciplinario contemplado en el Reglamento 
        Estudiantil, Capitulo XX. Régimen Disciplinario. Artículo 103, Literales F, J, Q y Y entre otros.</li>
    </ol>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="azulW">
      <ion-button expand="full" color="azulW" (click)="closeModal()">Aceptar términos</ion-button>
  </ion-toolbar>
</ion-footer>