<ion-header>
  <ion-toolbar color="naranjaE">
    <ion-buttons slot="start" (click)="volver()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="terminoBusqueda" (input)="buscar()" name="terminoBusqueda" type="text"
      placeholder="Ingrese el evento" aria-label="Buscar"></ion-input>
    <ion-icon name="search" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-select name="area" placeholder="Seleccione el area" aria-label="Area" (ionChange)="setArea($event)">
      <ion-select-option value=""></ion-select-option>
      <ion-select-option *ngFor="let area of areas" [value]="area.id" >{{area.descripcion}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-refresher slot="fixed" (ionRefresh)="llamarEventos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="!tiempoSkel" class="ion-text-center">
    <ion-progress-bar type="indeterminate" color="naranjaE"></ion-progress-bar>
    <ion-label>Se estan cargando los eventos.</ion-label>
  </ion-list>

  <ion-list *ngIf="tiempoSkel && eventos.length == 0" class="ion-text-center">
    <p>No hay eventos para inscribirse</p>
  </ion-list>

  <ion-list ion-list *ngIf="tiempoSkel && eventos.length != 0">
    <ion-item *ngFor="let eventos of eventos" button routerLink="../evento/{{eventos.idinstancia}}/general/eventos/0">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" [src]="eventos.imagen" />
      </ion-thumbnail>
      <ion-label>
        {{eventos.actividad}}
        <p>Sede: {{eventos.sede}}</p>
        <p>Recoría: {{eventos.rectoria}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="!tiempoSkel">
    <ion-item *ngFor="let eventos of arrayEventos">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>